.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Стили для кнопок */
.button {
  all: unset;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition:
    background 0.2s ease-in-out,
    transform 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  &:hover:not(:disabled) {
    background: var(--gray-color-4);
  }
  &:active:not(:disabled) {
    background: var(--gray-color-5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: var(--text-blind-color);
  }

  span {
    svg path {
      stroke: var(--text-secondary-color);
    }
  }
}

/* Активная страница */
.active {
  background: transparent;
  color: var(--text-color);
}

/* Троеточие */
.dots {
  pointer-events: none;
  font-size: 16px;
  color: gray;
}
