@use '../../style/utils/typography.scss' as *;
@use '../../style/global/breakpoints.scss' as *;

.pagination {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__button {
    all: unset;
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition:
      background 0.2s ease-in-out,
      transform 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    @include text-caption;

    &:hover:not(:disabled) {
      background: var(--gray-color-4);
    }

    &:active:not(:disabled) {
      background: var(--gray-color-5);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--text-blind-color);
    }

    &--icon {
      svg path {
        stroke: var(--text-secondary-color);
      }
    }

    &--active {
      background: transparent;
      color: var(--text-color);
    }

    @include mobile {
      gap: 0.4rem;

      width: 3.6rem;
      height: 3.6rem;
    }
  }

  &__dots {
    pointer-events: none;
    font-size: 1.6rem;
    color: gray;
  }
}
