@use '../../style/global/breakpoints.scss' as *;
@use '../../style/utils/typography.scss' as *;

.button {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  padding: 1.2rem 1.6rem;
  gap: 1.2rem;
  transition: background 0.3s ease;
  border: none;
  cursor: pointer;

  span {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }

  &.primary {
    width: 14.7rem;
    height: 4.6rem;
    background-color: var(--ultramarine-default-color);
    color: var(--text-contrast-color);
    &:hover {
      background-color: var(--ultramarine-dark-color);
    }

    &:active {
      background-color: var(--ultramarine-light-color-1);
    }

    &.disabled {
      background-color: var(--gray-color-2);
      color: var(--text-blind-color);
    }
    @include mobile {
      @include text-body;
      width: 11.7rem;
      height: 4rem;
      gap: 0.8rem;
      padding: 0.8rem;
      .icon svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &.contrast {
    background-color: var(--card-color);
    color: var(--text-color);

    .icon {
      color: var(--ultramarine-default-color);
    }

    &:hover {
      background-color: var(--gray-color-1);
    }

    &:active {
      background-color: var(--gray-color-2);
    }

    &.disabled {
      background-color: var(--text-contrast-secondary-color);
      color: var(--text-contrast-blind-color);

      .icon {
        color: var(--text-contrast-blind-color);
      }
    }
  }

  &.secondary {
    background-color: var(--white);
    color: var(--ultramarine-light-color-1);
    border: 0.1rem solid var(--ultramarine-light-color-1);

    &:hover {
      background-color: var(--gray-color-1);
    }

    &:active {
      background-color: var(--gray-color-2);
    }

    &.disabled {
      background-color: var(--gray-color-2);
      color: var(--text-blind-color);
      border: 0.1rem solid var(--text-blind-color);
    }
  }

  &.text {
    width: 10.7rem;
    height: 2.2rem;
    border: none;
    padding: 0;
    color: var(--ultramarine-light-color-1);
    background-color: transparent;

    &.small {
      width: 10.7rem;
      height: 2.2rem;
      gap: 0.8rem;

      span {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    &:hover {
      color: var(--ultramarine-dark-color);
      background-color: transparent;
    }

    &:active {
      color: var(--ultramarine-light-color-1);
      background-color: transparent;
    }

    &.disabled {
      color: var(--text-blind-color);
    }
  }

  &.icon {
    gap: 0;
    border-radius: 1.2rem;
    padding: 0.8rem;
    background-color: transparent;

    .icon {
      svg {
        width: 100%;
        height: 100%;
        path {
          stroke: var(--text-secondary-color);
        }
      }
    }

    &:hover {
      background-color: transparent;

      .icon svg path {
        stroke: var(--ultramarine-default-color);
      }
    }

    &:active {
      .icon svg path {
        stroke: var(--ultramarine-default-color);
      }
    }

    &.disabled {
      .icon svg path {
        stroke: var(--text-blind-color);
      }
    }

    &.large {
      width: 4rem;
      height: 4rem;

      .icon {
        width: 2.4rem;
        height: 2.4rem;
      }

      &:hover {
        background-color: var(--gray-color-4);
        .icon svg path {
          stroke: var(--text-secondary-color);
        }
      }

      &:active {
        background-color: var(--gray-color-5);
      }

      .icon svg path {
        stroke: var(--text-secondary-color);
      }

      @include mobile {
        width: 3.6rem;
        height: 3.6rem;
        padding: 0.8rem;
        border-radius: 0.8rem;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    &.contrast {
      background-color: transparent;

      .icon svg path {
        stroke: var(--white);
      }

      &:hover {
        background-color: var(--text-contrast-blind-color);

        .icon svg path {
          stroke: var(--text-contrast-color);
        }
      }

      &:active {
        background-color: var(--text-contrast-secondary-color);

        .icon svg path {
          stroke: var(--text-contrast-color);
        }
      }

      &.disabled {
        background-color: transparent;

        .icon svg path {
          stroke: var(--text-contrast-blind-color);
        }
      }
    }

    @include mobile {
      width: 2.4rem;
      height: 2.4rem;
      padding: 4px;
      border-radius: 0.8rem;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  &.icon-fill {
    gap: 0;
    border-radius: 1.2rem;
    padding: 0.8rem;
    background-color: var(--gray-color-2);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      svg {
        width: 100%;
        height: 100%;
        path {
          stroke: var(--text-secondary-color);
        }
      }
    }

    &:hover {
      background-color: var(--gray-color-3);

      .icon svg path {
        stroke: var(--ultramarine-default-color);
      }
    }

    &:active {
      background-color: var(--gray-color-4);

      .icon svg path {
        stroke: var(--ultramarine-default-color);
      }
    }

    &.disabled {
      background-color: var(--gray-color-2);

      .icon svg path {
        stroke: var(--text-blind-color);
      }
    }

    @include mobile {
      width: 2.4rem;
      height: 2.4rem;
      padding: 4px;
      border-radius: 0.8rem;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }

  &.user {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ultramarine-default-color);
    color: var(--white);
    border-radius: 1.2rem;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: var(--ultramarine-dark-color);
    }

    &:active {
      background-color: var(--ultramarine-light-color-1);
    }

    &.disabled {
      background-color: var(--gray-color-2);
      color: var(--text-blind-color);
      cursor: not-allowed;
      pointer-events: none;
    }

    .icon {
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
        path {
          stroke: currentColor;
        }
      }
    }
  }

  &.userWrapper {
    background-color: var(--white);
    border: 0.1rem solid var(--border-color);
    padding: 0.1rem;

    &:hover {
      background-color: var(--white);
      border: 0.1rem solid var(--ultramarine-default-color);
    }

    &.user {
      .icon {
        background-color: var(--ultramarine-default-color);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        padding: 0.4rem;
      }
    }

    &.disabled {
      display: none;
    }
  }

  &.shareWrapper {
    background-color: var(--white);
    padding: 0.1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--text-2-color);

    &:hover,
    &:active {
      background-color: transparent;

      .icon {
        background-color: var(--ultramarine-default-color);
        svg {
          width: 2rem;
          height: 2rem;
          path {
            stroke: var(--text-contrast-color);
            fill: var(--text-contrast-color);
          }
        }
      }
    }

    .icon {
      background-color: var(--gray-color-6);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.8rem;
      padding: 0.8rem;

      svg {
        width: 2rem;
        height: 2rem;
        path {
          stroke: var(--text-2-color);
          fill: var(--text-2-color);
        }
      }
    }

    &.disabled {
      display: none;
    }
  }

  &.bookmark {
    gap: 0;
    border-radius: 1.2rem;
    padding: 0.8rem;
    background-color: var(--white-20);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      svg {
        width: 100%;
        height: 100%;
        path {
          stroke: var(--text-contrast-color);
        }
      }
    }

    &:hover {
      background-color: var(--ultramarine-default-color);
      .icon svg path {
        stroke: var(--text-contrast-color);
      }
    }

    &:active {
      background-color: var(--white-20);
      .icon svg path {
        stroke: var(--text-contrast-color);
        fill: var(--text-contrast-color);
      }
    }

    &.disabled {
      display: none;
    }
  }

  .icon {
    width: 2rem;
    height: 2rem;

    svg {
      width: 100%;
      height: 100%;
      path {
        stroke: currentColor;
      }
    }
  }
}
