@use '../../style/utils/typography.scss' as *;
@use '../../style/global/breakpoints.scss' as *;

.toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__input {
    display: none;
  }

  // Общие стили для чекбокса и радиокнопки
  &__checkbox,
  &__radiobutton {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    position: relative;

    &:hover {
      border-color: var(--ultramarine-dark-color);
    }
  }

  // Чекбокс
  &__checkbox {
    border-radius: 0.6rem;
  }

  &__input:checked + &__checkbox {
    background-color: var(--ultramarine-default-color);
    border: none;

    &:hover {
      background-color: var(--ultramarine-dark-color);
    }
  }

  &__input:checked + &__checkbox::after {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--text-contrast-color);
    mask-image: url('../../assets/svg/icons/check.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    position: absolute;
  }

  // Радиокнопка
  &__radiobutton {
    border-radius: 50%;
  }

  &__input:checked + &__radiobutton {
    background-color: var(--text-contrast-color);
    border-color: var(--ultramarine-default-color);
  }

  &__input:checked + &__radiobutton::after {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--ultramarine-default-color);
    border-radius: 50%;
    position: absolute;
  }

  &__input:checked + &__radiobutton:hover {
    border-color: var(--ultramarine-dark-color);
  }

  &__input:checked + &__radiobutton:hover::after {
    background-color: var(--ultramarine-dark-color);
  }

  // Состояние disabled
  &__input:disabled + &__checkbox,
  &__input:disabled + &__radiobutton {
    opacity: 0.5;
    background-color: var(--gray-color-3);
    border: 0.2rem solid var(--border-color);
    pointer-events: none;
  }

  &__input:disabled:checked + &__checkbox::after,
  &__input:disabled:checked + &__radiobutton::after {
    background-color: var(--border-color);
  }

  // Адаптация под мобильные устройства
  @media (max-width: 768px) {
    &__checkbox,
    &__radiobutton {
      width: 1.6rem;
      height: 1.6rem;
      border-width: 0.1rem;
    }

    &__input:checked + &__checkbox::after {
      width: 1.5rem;
      height: 1.5rem;
    }

    &__input:checked + &__radiobutton::after {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
