@use '../style/global/typography.scss' as *;
@use '../style/global/breakpoints.scss' as *;

.text-content {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-color);
  @include mobile {
    font-size: 1.6rem;
  }

  p {
    margin: 2.4rem 0;
    @include mobile {
      margin: 1.6rem 0;
    }
  }

  a {
    color: var(--ultramarine-dark-color);
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
    @include mobile {
      &:active {
        text-decoration: underline;
      }
    }
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin: 2.4rem 0;
    line-height: 2.4rem;
    @include mobile {
      margin: 1.6rem 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 1.6rem;
      @include mobile {
        margin-bottom: 1.2rem;
      }
      &::before {
        content: '•';
        position: absolute;
        left: 0;
        color: var(--ultramarine-default-color);
        font-size: 1.5rem;
      }

      ul {
        list-style: none;
        padding-left: 1.5rem;
        margin-top: 0.8rem;

        li {
          position: relative;

          &::before {
            content: '—';
            position: absolute;
            left: -1rem;
            color: var(--ultramarine-default-color);
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  ol {
    list-style: decimal;

    li {
      padding-left: 1.2rem;
      margin-bottom: 1.8rem;

      @include mobile {
        margin-bottom: 1.2rem;
      }
      &::marker {
        width: 4rem;
        height: 2.6rem;
        font-weight: bold;
        color: var(--text-color);
      }
    }
  }

  li {
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    margin: 5.6rem 0 4rem;
    line-height: 4.4rem;
    @include mobile {
      font-size: 2.2rem;
      font-weight: 700;
      margin: 4.8rem 0 3.2rem;
      line-height: 3rem;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 4.8rem 0 3.2rem;
    line-height: 2.8rem;
    @include mobile {
      font-size: 1.8rem;
      margin: 4rem 0 2.4rem;
      line-height: 2.4rem;
    }
  }

  .table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 50rem;
    margin: 5.6rem 0;
    border-radius: 3.2rem;
    @include mobile {
      margin: 4.8rem 0;
      max-height: 36rem;
    }
    table {
      width: 100%;
      min-width: 60rem;
      border-collapse: collapse;
      background-color: var(--white);
    }

    th,
    td {
      padding: 2.4rem;
      text-align: left;
      width: 22.5rem;

      @include mobile {
        padding: 1.6rem;
      }
    }

    thead {
      height: 9.6rem;
      text-align: center;
      background-color: var(--ultramarine-light-color-1);
      color: var(--card-color);
      font-weight: bold;
      @include mobile {
        height: 5rem;
      }
    }

    th {
      position: relative;
      vertical-align: middle;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.4rem;
      @include mobile {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.8rem;
      }
    }

    th:not(:last-child) {
      border-right: 0.1rem solid var(--ultramarine-dark-color);
    }

    td {
      position: relative;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      @include mobile {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }

    td {
      border: 0.1rem solid var(--divider-color);
    }
  }

  figure.image {
    margin: 5.6rem 0;
    text-align: center;
    @include mobile {
      margin: 4.8rem 0;
    }
    img {
      max-width: 100%;
      height: auto;
      border-radius: 3.2rem;
    }

    figcaption {
      font-size: 1.2rem;
      color: var(--text-contrast-secondary-promo-color);
      text-align: left;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
