@use '../../style/utils/typography.scss' as *;
@use '../../style/global/breakpoints.scss' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  color: var(--text-color);

  @include text-caption;
  @include mobile {
    @include text-caption;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
      color: var(--ultramarine-default-color);
    }
  }

  &__current {
    font-weight: bold;
    color: var(--text-primary-color);
  }

  &__separator {
    margin: 0 1.8rem;
    color: var(--text-secondary-color);
  }

  &__disabled {
    color: var(--text-secondary-color);
    cursor: not-allowed;
  }
}
